@font-face {
    font-family: 'MainFont';
    src: url('./assets/font/SF-Pro.ttf') format('truetype');
  }
  html, body {
    background: #fff;
    scroll-behavior: smooth;
  }
  
section, .container, .promo-container {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero, .about-us, .abou-us, .hero-section {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
  